<!DOCTYPE>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Livres</title>
</head>
<body>
    <h1>Liste des Livres</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Genre</th>
            <th>Date de Publication</th>
            <th>Quantité</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>  <!-- ID -->
            <td>{{ row[1] }}</td>  <!-- Titre -->
            <td>{{ row[2] }}</td>  <!-- Auteur -->
            <td>{{ row[3] }}</td>  <!-- Genre -->
            <td>{{ row[4] }}</td>  <!-- Date de Publication -->
            <td>{{ row[5] }}</td>  <!-- Quantité -->
            <td>
                <form action="/supprimer_livre/{{ row[0] }}" method="POST">
                    <button type="submit">Supprimer</button>
                </form>
            </td> <!-- Bouton de suppression -->
        </tr>
        {% endfor %}
    </table>
</body>
</html>
